.header{
    /* margin-bottom: 10px; */
    background-color: #202D36;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 40x;
}
